<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Shake To Change</string>
			<key>Key</key>
			<string>shakeToChange</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Vibrate On Change</string>
			<key>Key</key>
			<string>vibrateOnChange</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Animal Name And Sound</string>
			<key>Key</key>
			<string>defaultSoundType</string>
			<key>Title</key>
			<string>Default Sound</string>
			<key>Titles</key>
			<array>
				<string>Animal Name</string>
				<string>Animal Sound</string>
				<string>Spell Name</string>
				<string>Animal Name and Sound</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>Animal Name</string>
				<string>Animal Sound</string>
				<string>Spell Name</string>
				<string>Animal Name And Sound</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
